header{
    position: fixed;
    top: 20px;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 200px;
}
.nav-menu{
    display: flex;
    gap: 40px;
}
.nav-items{
    color: black;
    font-size: 16px;
    line-height: 100%;
    line-clamp: 1;
}
.nav-items:hover{
    color: var(--first-color);
}
.nav-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
.nav-btn img{
    width: 80px;
}

@media (max-width:840px) {
    .nav-menu{
        display: none;
    }
    .nav-btn{
        display: block;
    }
}